{% extends 'base.html' %}

{% block title %}
Главная станица
{% endblock %}

{% block content %}


    <h1>Задачник для подготовки к экзаменам</h1>
    <p>Наш проект – это открытая платформа для создания и решения задач по различным учебным предметам. Здесь каждый может не только решать задачи для подготовки к экзаменам, но и добавлять свои, помогая другим пользователям.</p>


<section class="cta">
    <h2>Начните подготовку прямо сейчас</h2>
    <p>Присоединяйтесь к тысячам пользователей, уже активно использующих наш задачник для подготовки к экзаменам. Создавайте свои задачи или решайте задачи других пользователей.</p>
    <a href="{{ url_for('create') }}" class="cta-button">Создать задачу</a>
    <a href="{{ url_for('posts') }}" class="cta-button">Найти задачи</a>
</section>

<section class="features">
    <h2>Основные возможности платформы</h2>
    <ul>
        <li><strong>Добавляйте задачи</strong>: по любым предметам: от математики и физики до истории и языков.</li>
        <li><strong>Ищите задачи</strong>: по ключевым темам, предметам и уровню сложности.</li>
        <li><strong>Оценивайте задачи</strong>: и оставляйте комментарии, помогая улучшить качество контента.</li>
        <li><strong>Создайте личный кабинет</strong>: для отслеживания решённых задач и своего прогресса.</li>
        <li><strong>Общайтесь с сообществом</strong>: задавайте вопросы и обсуждайте решения задач с другими пользователями.</li>
    </ul>
</section>

<section class="benefits">
    <h2>Преимущества нашего задачника</h2>
    <p>Мы стремимся сделать процесс обучения интересным и интерактивным. Вот несколько причин, почему наш сайт полезен для всех учащихся:</p>
    <ul>
        <li>Доступ к большому количеству задач по разным предметам, созданным пользователями.</li>
        <li>Задачи разделены на разные уровни сложности, что помогает постепенно усложнять подготовку.</li>
        <li>Возможность решать задачи в любое время и с любого устройства — удобство всегда с вами.</li>
        <li>Сайт постоянно развивается и обновляется новыми задачами от активных участников сообщества.</li>
    </ul>
</section>


<section class="statistics">
    <h2>Немного статистики</h2>
    <p>На данный момент на нашей платформе:</p>
    <ul>
        <li><strong>00,000+</strong> добавленных задач</li>
        <li><strong>0000+</strong> зарегистрированных пользователей</li>
        <li><strong>000+</strong> активных задач каждый день</li>
    </ul>
    <p>И мы продолжаем расти благодаря вашему участию!</p>
</section>
{% endblock %}