{% extends 'base.html' %}

{% block title %}
Подробности о задаче
{% endblock %}

{% block content %}
<h1>Номер билета: {{ post.title }}</h1>
<h1>Уровень задачи: {{ post.level }}</h1>
<h1>{% for tag in all_tags %} Темы задачи: {{ tag.name }} {% endfor %}</h1>
{% for tag in all_tags %}
     <option value="{{ tag.name }}">{{ tag.name }}</option>
{% endfor %}

<img class="zad__img" src="data:image/png;base64,{{ zad_base64 }}" alt="Условие задачи">

<!-- Кнопка для показа решения -->
<button class="btn btn-primary mt-3" id="toggleSolution">Показать решение</button>
<!-- Скрытый блок с решением -->
<div id="solutionContainer" style="display: none;">
<p></p>

    <img class="zad__img" src="data:image/png;base64,{{ resh1_base64 }}" alt="Первый способ решения">


    {% if resh2_base64 %}
        <img class="zad__img" src="data:image/png;base64,{{ resh2_base64 }}" alt="Второй способ решения">
    {% endif %}
    {% if resh3_base64 %}
        <img class="zad__img" src="data:image/png;base64,{{ resh3_base64 }}" alt="Третий способ решения">
    {% endif %}
    {% if resh4_base64 %}
        <img class="zad__img" src="data:image/png;base64,{{ resh4_base64 }}" alt="Четвёртый способ решения">
    {% endif %}
    {% if resh5_base64 %}
        <img class="zad__img" src="data:image/png;base64,{{ resh5_base64 }}" alt="Пятый способ решения">
    {% endif %}
</div>

<a href="{{ url_for('posts') }}" class="btn btn-secondary mt-3">Вернуться ко всем задачам</a>
<!-- Форма для удаления задачи -->
<form id="deleteForm" action="{{ url_for('delete_post', id=post.id) }}" method="post">
    <button id="deleteButton" type="button" class="btn btn-secondary mt-3">Удалить задачу</button>
</form>

{% endblock %}

{% block scripts %}
<script>
    // Добавляем обработчик события на кнопку
    document.getElementById('toggleSolution').addEventListener('click', function() {
        var solution = document.getElementById('solutionContainer');

        // Проверяем текущее состояние решения
        if (solution.style.display === "none") {
            // Показываем решение
            solution.style.display = "block";
            this.textContent = 'Скрыть решение';
        } else {
            // Скрываем решение
            solution.style.display = "none";
            this.textContent = 'Показать решение';
        }
    });


    const deleteButton = document.getElementById('deleteButton');
    deleteButton.addEventListener('click', function () {
        if (confirm('Вы уверены, что хотите удалить задачу?')) {
            document.getElementById('deleteForm').submit();  // Отправляем форму с POST-запросом
        }
    });


</script>
{% endblock %}
